@charset "ISO-8859-1";

table{
	background-color: yellow;
}
  .hakunappi:active {
color: white;
   background-color:white ; /* Turkoosin vaaleampi sävy */
  }
    .hakunappi {
   background-color: rgb(18, 109, 98); /* Turkoosin sävy */
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   font-size: 16px;
   cursor: pointer;
   -webkit-transition-duration: 0.4s; /* Safari */
   transition-duration: 0.2s;
   margin-left: auto; /*margin ja display sijoittaa painikkeen keskelle*/
   margin-right: auto;
   display: block;